<div class="top text-center mt-4">
  <h3 class="row-10 top-text">
    ようこそ、本棚マネージャーへ！<br>
    このサイトは本棚を管理することができるレビューサイトとなっております。<br>
    主な機能としまして以下の機能が使えます。
  </h3>
</div>
<div class="container d-flex mt-5 mb-5">
  <div class="col-4 top-item">
    <h4 class="title"><i class="fas fa-mobile" ></i> 読んだ本を投稿しよう！</h4>
    <p class="body">投稿した本は自動的に本棚に追加されます。</p>
  </div>
  <div class="col-4">
    <h4 class="title"><i class="fas fa-book"></i> 本棚を整理しよう！</h4>
    <p class="body">処分した本は処分済みに移動して本棚と分けて管理することができます。</p>
  </div>
  <div class="col-4">
    <h4 class="title"><i class="fas fa-comment"></i> 投稿にコメントしよう！</h4>
    <p class="body">他のユーザーの投稿が気になったらコメントできます。</p>
  </div>
</div>