/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rogo {
  width: 100px;
  height: 100px;
  background: image-url("rogo.png");
  background-size: 100px;
  position: center;
}

main {
  width: 100%;
}

.container .text-muted {
  margin: 20px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.pagination {
  justify-content: center;
}

.top {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  background-image: image-url("top.jpg");
  background-size:cover;
  background-position: center top;
  position: relative;
}

.top-text {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  width: 500px;
  height: 100px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.comment{
  height: 100px;
  overflow-wrap: break-word;
  overflow: auto;
}

.field_with_errors {
  display: contents;
}

@media screen and (max-widht: 768px){
  .top {
    width: 100%;
  }

  .top-text {
    width: 100%;
  }

  .container{
    width: 100%;
  }

}

@media screen and (max-width: 425px) {
  .top {
    width: 100%;
  }

  .top-text {
    width: 100%;
  }

  .container{
    width: 100%;
  }

}